.header-main {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;

  .container{
    background-color: rgba(0,0,0,0);
  }

}


//suche--------------
.entry--search {
  background: rgba(0, 0, 0, 0.3);
}

.main-search--field {
  background: rgba(0, 0, 0, 0.3);
}

.main-search--field:focus {
  background: rgba(0, 0, 0, 0.3);
}

.entry--search{
  background: rgba(0, 0, 0, 0.3);
  .main-search--form{
     background: rgba(0, 0, 0, 0.3);
    .main-search--field {
      background: rgba(0, 0, 0, 0.3);
    }
  }
}


.shop--navigation {
  .entry--search {
    background: rgba(0, 0, 0, 0.3);
  }
}

.main-search--form {
  .main-search--field {
    background: rgba(0, 0, 0, 0.3);
  }
  .main-search--field:focus {
    background: rgba(0, 0, 0, 0.3);
  }

}
//suche ende-------------------------------------------