.sidebar--categories-navigation {
  .sidebar--navigation {
    background: rgba(0,0,0,0.1);
    * {
      background: rgba(0,0,0,1);
    }
  }
}

.sidebar-main.off-canvas {
  background: rgba(0,0,0,0.1);
  * {
    background: rgba(0,0,0,0.1);
  }
  .navigation--entry {
    background: rgba(0,0,0,0.1);
  }
}